on:
  push:

name: Pushing to production
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Upload to cpanel
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: ${{secrets.FTP_SERVER}}
          username: ${{secrets.FTP_USERNAME}}
          password: ${{secrets.FTP_PASSWORD}}
          local-dir: ./
